<!DOCTYPE html>
<html>
<head>
	<title>Angular Translate</title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="js/app-controller.js"></script>
</head>
<body ng-app="myapp">
{{4+4}}
	<div ng-controller="ctrl">
		<p><a href="#" ng-click="setLang(en)">English</a></p>
		<p><a href="#" ng-click="setLang(ja)">日本語</a></p>
		
		<h1>{{ "APP_TITLE" | translate }}</h1>
		<p>{{ "INTRODUCTION_TEXT" | translate }}</p>
		<p translate="INTRODUCTION_TEXT"></p>
	</div>
</body>
</html>